<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://c4.wallpaperflare.com/wallpaper/178/1007/661/la-la-land-wallpaper-preview.jpg');">
  <div class="container">
    <h1>Here are your lists</h1>
  </div>
</div>

<h1>All lists</h1>
<% @lists.each do |list| %>
<%= link_to list.name, list_path(list) %>
<% end %>
<br>
<%= link_to 'Add a list', new_list_path %>
